extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Claudia Robinson

        p.lead.text-light
          | Full Stack JavaScript Developer.

        
        .portfolio-bio
          p
            | Looking to join a collaborative team working on products that improve the world or the lives of our users in some way! Prior to COVID-19, I was working in account management for an educational tourism company. When the pandemic began and tourism came to a screeching halt, I found myself newly unemployed and contemplating what my next step should be. I'd been interested in moving into the tech space in my prior role, doing some shadowing of Product Managers and Business Analysts and raising my hand for any tech-related endeavors that I could. With my newfound freetime, I chose to dive deeper, and see if I might enjoy actually writing code as well.
            br
            br
            | Since then, I've worked to build my full stack programming skills, and have built some awesome projects along the way using a variety of languages and technologies. The hands-on approach I've taken to my learning has prepared me well to dive into my first developer role. I've had a lot of fun and learned a lot, and am excited to begin a new career in development and engineering.
            br
            br 
            | When I'm not behind the computer, I'm in the kitchen (I love to cook), working on digital illustrations, or spending time outdoors. 


      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li JavaScript
          li Node.js
          li Express
          li React
          li OOP principles
          li AJAX requests 
          li HTML
          li CSS
          li React
          li Git 
          li Pug 
          li Digital illustration 
        h6 Contact Info

        ul
          li 555-555-1234
          li claudia@email.com

       
        a.button.expanded(href='https://www.linkedin.com/in/claudia-robinson-91b021154/') LinkedIn
        a.button.expanded(href='https://github.com/claudiar1') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  